<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.recfind.bryce.recfind" >

    <application
        android:name= "com.recfind.bryce.recfind.recContainer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/icon"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".List"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name=".View"
            android:label="@string/title_activity_view" >
        </activity>
        <activity
            android:name=".ViewActivity"
            android:label="@string/title_activity_view" >
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name=".AddActivity"
            android:label="@string/title_activity_add" >
        </activity>
    </application>

</manifest>
